@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .nav-link{
        @apply hover:underline font-medium hover:underline-offset-4
    }

    .icon-button{
        @apply w-7 hover:opacity-50 cursor-pointer
    }
    .title{
        @apply text-[24px] font-medium hover:underline
    }
    .slideimage{
        @apply relative w-[200px] h-[100px] flex-shrink-0
    }
}

